.my-pic{
  display: block;
  width: 200px; /* adjust size */
  height: 300px; /*adjust size */
  margin-left: auto;
  margin-right:auto;
}

body{
  background-color: rgba(0, 255, 166, 0.269);
}

h2, h3, h4, h5, h6{
  color: rgb(42, 39, 33);

}

nav {
  text-align: right;
}